<section id="about" class="about section light-background">

    <div class="container section-title">
        <h2>Élete és Művészete</h2>
    </div>

    <div class="container">

        <div class="row gy-4">
            <div class="content life">
                <h4>A Kezdetek – Egy Tehetség Felfedezése </h4>
                <p>A dunántúli kisváros, Tapolca borbélyának fia, Mikus Gyula már gyermekként megmutatta rendkívüli
                    rajztehetségét. Könnyekkel küszködve, lavórral és szivaccsal a kezében ment lemosni az egyik
                    borkereskedő házának faláról azt a gyönyörűre sikerült lovas szekeret, amelyet iskolatársai
                    kérésére
                    rajzolt oda.
                </p>
                <p> A korabeli elemi iskolásoknak papír és rajzlap nem jutott, csupán a palavesszővel író palatábla
                    állt
                    rendelkezésükre, amelyen nem lehetett maradandót alkotni. A gyerekek azonban feltalálták
                    magukat: az
                    utcán talált elégett lámpaüvegszeneket gyűjtötték, amelyek puhaságuk miatt a rajzszénhez
                    hasonlóan
                    működtek.
                </p>
                <p>Rajztanárai hamar felfigyeltek kiemelkedő képességeire. A <strong>Tapolcai Újság</strong>
                    1912-ben külön említi
                    Frimmel Gyula diákjainak rajzkiállításáról, hogy Mikus Gyula IV. osztályos tanuló kiváló
                    rajztudással
                    rendelkezik. Ebből az időszakból maradt fenn néhány csodálatos akvarellje, melyek már előre
                    jelezték
                    kivételes technikai érzékét. </p>

                <h4>Tanulmányok és Hivatás</h4>
                <p>Tehetsége révén elemi iskolai rajztanára, Frimmel Gyula támogatásával ösztöndíjat kapott, így
                    Szegedre
                    került a tanítóképzőbe, ahol tanulmányait folytatta. Ezért az asztalosinasságot hátrahagyva a
                    pedagógusi
                    pályát választotta.</p>

                <p>Tanulmányai befejeztével, <strong>1927-ben</strong> huszadmagával pályázta meg a zalaszántói
                    elemi iskola
                    megüresedett
                    tanítói állását, amelyet végül elnyert. Az elkövetkező években a festő számára ez a kis
                    dunántúli falu –
                    amelyet hegyek koszorúznak – és annak lakói jelentették az inspirációt. Együtt élt a falu
                    mindennapjaival,
                    átérezte lakóinak gondjait és örömeit, tanította gyermekeiket, segítette családjaikat. Emiatt
                    azonban
                    folyamatos konfliktusban állt a helyi pappal és jegyzővel.
                </p>

                <h4>A Művész Kibontakozása</h4>
                <p>Zalaszántói évei alatt festett életképei közül néhány fennmaradt, ám tájképeinek nagy része
                    elveszett.
                    Saját
                    bevallása szerint:
                </p>

                <div class="testimonial-item">
                    <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>Csak láttátok volna, milyen bátor és harsány színekkel mertem festeni!</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                </div>

                <p><strong>1933-ban</strong> egy vázlat formájában született meg első komolyabb művének, a
                    <strong>Halottasmenetnek</strong> az
                    alapötlete. A festmény az élet egyik kegyetlen pillanatát örökíti meg: egy téli hóviharban
                    történő temetést,
                    ahol a sírig is utat kellett lapátolni a méteres hóban. Az alkotás öt évig érlelődött, míg végül
                    <strong>1938-ban</strong> elkészült. A mű elnyerte a Halmos Izor Életkép-díjat, bemutatásakor a
                    közönség elismerő tapssal
                    fogadta.
                </p>

                <h4>A Balaton Varázsa és Keszthely</h4>
                <p>A folyamatos témakeresés során a festő látóköre egyre bővült. Eljutott a
                    <strong>Balatonig</strong>, amelynek
                    varázslatos
                    panorámája rabul ejtette és egy életen át inspirálta.
                </p>

                <p>Szeretett volna Keszthelyre költözni, hogy jobb alkotói környezetben dolgozhasson. Egy zalaszántói
                    látogatás
                    során <strong>Koszta József</strong> – a neves festőművész – megcsodálta munkáit, és elismerően így
                    szólt:

                    <strong>„Úristen, micsoda tehetség! Csak egy évre mehetne el Párizsba!”</strong>

                    Mikus szerény válasza azonban mindennél többet mondott el hűségéről és elkötelezettségéről:

                    <strong>„Én csak Keszthelyre szeretnék…”</strong>
                </p>

                <p>Koszta József közbenjárására <strong>1942 szeptemberében</strong> a Magyar Királyi Vallás- és
                    Közoktatásügyi Minisztérium
                    Keszthelyre helyezte őt állami polgári iskolai rendes tanítónak.</p>

                <h4>Élete és Vallomása</h4>

                <p>Élete során Mikus Gyula soha nem hagyta el Magyarországot, a Balaton és környéke örökre az otthona
                    maradt. Idősebb korában így vallott erről:</p>

                <div class="testimonial-item">
                    <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>Nem jártam soha külföldön, nem ismertem tengereket, idegen világot. Hazám más
                            tájaival is csak futó kapcsolatot teremtettem. A Balatont festettem télen, nyáron, kora
                            tavasszal, késő ősszel. Amikor úgy tűnik,
                            mindent tudok róla, naponta újabb arcát fordítja felém.1973-ban kapott Egry-díjamat is
                            lényegében a Balatonnak köszönhetem. Mágikus erejű
                            vonzása teszi, hogy nem tudtam eltávolodni mellőle. Kapcsolatom a tóval és környékével
                            megbonthatatlan, már csak magammal elmúló.</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                </div>

                <p> E szavak mindannyiunk számára megható bizonyítékai annak, milyen mély kapcsolat fűzte Mikus
                    Gyulát a tájhoz, amely festészetének legfőbb inspirációja volt.
                </p>
            </div>
        </div>
    </div>

    <div id="prizes" class="container mt-4">

        <div class="row gy-4 justify-content-center">
            <div class="col-lg-4">
                <img src="assets/img/mikusgyula_self_1.jpg" class="img-fluid" alt="mikusgyula">
            </div>
            <div class="col-lg-8 content">
                <p class="fst-italic py-3" style="color:red">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna aliqua.
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Életrajzi adatok</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i>1905 október 16-án Celldömölkön születik a
                                hétgyermekes család második gyermekeként</li>
                            <li><i class="bi bi-chevron-right"></i>1910-ben a család Tapolcára költözik, itt jár
                                elemi majd polgári iskolába</li>
                            <li><i class="bi bi-chevron-right"></i>1922-ben a Tanítóképzőben kezd tanulni Szegeden
                            </li>
                            <li><i class="bi bi-chevron-right"></i>1927 Zalaszántón elemi iskolai tanár lesz</li>
                            <li><i class="bi bi-chevron-right"></i>1934 a Balatoni Szövetség elismerő oklevele a
                                kiváló festményekért</li>
                            <li><i class="bi bi-chevron-right"></i>1939 Halmos Izor életképdíj a Halottasmenet
                                képéért (első címe : A szegény ember temetése 1938), Budapest Műcsarnok</li>
                            <li><i class="bi bi-chevron-right"></i>1942 Szeptember 19-től a Keszthelyi polgári
                                leány- és fiúiskolában rajztanár, az iskola általános iskolaként működik tovább
                                1948-tól</li>
                            <li><i class="bi bi-chevron-right"></i>1943 Április “Mészöly Géza Társaság” első díja a
                                legjobb Balatoni témájú képért</li>
                            <li><i class="bi bi-chevron-right"></i>1952-től Festőművész, továbbra is Keszthelyen
                            </li>
                            <li><i class="bi bi-chevron-right"></i>1953 Festészeti nívódíj, Székesfehérvár</li>
                            <li><i class="bi bi-chevron-right"></i>1953 Tájpályázat III. díja a IV. Nemzeti
                                Kiállításon, Budapest Műcsarnok</li>
                            <li><i class="bi bi-chevron-right"></i>1955 tagja lesz a Magyar Képző- és Iparművészeti
                                Szövetségnek</li>
                            <li><i class="bi bi-chevron-right"></i>1964 a Magyar Köztársaság Képzőművészeti
                                Alapjának tagja</li>
                            <li><i class="bi bi-chevron-right"></i>1969 Festészeti nívódíj, Veszprém</li>
                            <li><i class="bi bi-chevron-right"></i>1973 Egry József Képzőművészeti díj, Veszprém
                            </li>
                            <li><i class="bi bi-chevron-right"></i>1975 Veszprém Megyéért Érdemérem arany fokozat
                            </li>
                            <li><i class="bi bi-chevron-right"></i>1975, 1980 és 1985 Szocialista Kultúráért
                                kitüntetés</li>
                            <li><i class="bi bi-chevron-right"></i>1980 Keszthely városért kitüntetés</li>
                            <li><i class="bi bi-chevron-right"></i>1989 Keszthely város díszpolgára</li>
                            <li><i class="bi bi-chevron-right"></i>1991 Zala m-i Önkormányzati Közgyűlés alkotói
                                díja, Zalaegerszeg</li>
                            <li><i class="bi bi-chevron-right"></i>1995 Augusztus 20 Magyar Köztársasági Érdemrend
                                Kiskeresztje kitüntetés, Budapest</li>
                            <li><i class="bi bi-chevron-right"></i>1995 Szeptember 8 Veszprém város arany Emlékérme,
                                Veszprém</li>
                            <li><i class="bi bi-chevron-right"></i>1996 December 6-án meghal</li>
                            <li><i class="bi bi-chevron-right"></i>1996 December 14-én örök nyugalomra helyezik a
                                Keszthelyi Szent Miklós temetőben</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">

                        <h4>Önálló kiállításai</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i>1940 Nagykanizsa</li>
                            <li><i class="bi bi-chevron-right"></i>1951 Balatoni Múzeum Keszthely</li>
                            <li><i class="bi bi-chevron-right"></i>1951 Fényes Adolf terem Budapest</li>
                            <li><i class="bi bi-chevron-right"></i>1952 Festetics kastély Keszthely</li>
                            <li><i class="bi bi-chevron-right"></i>1956 Rippl-Rónai Múzeum Kaposvár</li>
                            <li><i class="bi bi-chevron-right"></i>1964 Képcsarnok Veszprém</li>
                            <li><i class="bi bi-chevron-right"></i>1975 Balatoni Múzeum Keszthely</li>
                            <li><i class="bi bi-chevron-right"></i>1981 Kemenesaljai Művelődési Központ Celldömölk
                            </li>
                            <li><i class="bi bi-chevron-right"></i>1981 Bakonyi Múzeum Veszprém</li>
                            <li><i class="bi bi-chevron-right"></i>1983 Halle NDK</li>
                            <li><i class="bi bi-chevron-right"></i>1983 Batsányi János Művelődési Központ Tapolca
                            </li>
                            <li><i class="bi bi-chevron-right"></i>1991 Helikon Kastélymúzeum (Festetics-kastély )
                                Keszthely</li>
                            <li><i class="bi bi-chevron-right"></i>1995 Csikász Galéria Veszprém</li>
                            <li><i class="bi bi-chevron-right"></i>1996 Tóparti Galéria Révfülöp</li>
                            <li><i class="bi bi-chevron-right"></i>2008 Magyar Állami Operaház</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>