<header id="header" class="header dark-background d-flex flex-column" [ngClass]="{'header-show': isNavVisible()}">
    <i class="header-toggle d-xl-none bi bi-list" [class.bi-x]="isNavVisible()" (click)="toggleNav()"></i>

    <div class="profile-img">
        <img src="./assets/img/home/mikusgyula_self_1.jpg" alt="mikusgyula" class="img-fluid rounded-circle">
    </div>

    <a [routerLink]="['/']" class="logo d-flex align-items-center justify-content-center">
        <h1 class="sitename fs-1">Mikus Gyula</h1>
    </a>
    <span class="text-center mb-3">Virtuális galéria és emlékoldal</span>

    <nav id="navmenu" class="navmenu">
        <ul>

            <li>
                <a [routerLink]="['/']" fragment="hero" class="active" (click)="closeNav()">
                    <i class="bi bi-house navicon"></i>Kezdőoldal
                </a>
            </li>
            <li class="">
                <a [routerLink]="['/']" fragment="news" (click)="closeNav()"><i class="bi bi-newspaper navicon"></i>
                    <span class="pe-3 position-relative">
                        Hírek
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill highlighted">
                            1
                            <span class="visually-hidden">aktuális híreink</span>
                        </span>
                    </span>
                </a>
            </li>
            <li><a [routerLink]="['/']" fragment="about" (click)="closeNav()"><i class="bi bi-person navicon"></i> Életrajz</a></li>
            <li><a [routerLink]="['/']" fragment="prizes" (click)="closeNav()"><i class="bi bi-award navicon"></i> Elismerései</a></li>
            <li><a [routerLink]="['/']" fragment="services" (click)="closeNav()"><i class="bi bi-piggy-bank navicon"></i> Gyűjtés</a></li>
            <li><a [routerLink]="['/']" fragment="galeria" (click)="closeNav()"><i class="bi bi-images navicon"></i> Galéria</a></li>
            
            <hr>
            <li><a [routerLink]="['/muszak']" routerLinkActive="router-link-active" (click)="closeNav()"><i
                        class="bi bi-hdd-stack navicon"></i> MŰSZAK</a></li>
            <li><a href="https://balatonimuzeum.hu/" target="_blank" class="d-flex justify-content-between align-items-center">
                <span><i class="bi bi-hdd-stack navicon"></i> Balatoni Múzeum</span>
                <i class="bi bi-box-arrow-up-right"></i>
            </a></li>

            <li><a [routerLink]="['/']" fragment="contact" (click)="closeNav()"><i class="bi bi-envelope navicon"></i> Kapcsolat</a></li>
        </ul>
    </nav>

</header>