<main class="main">

    <div class="page-title dark-background">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <h1 class="mb-2 mb-lg-0">Mikus 120</h1>
        </div>
    </div>

    <section id="news-item-mikus-120" class="section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col">
                    <div class="news-item-content" data-aos="fade-up" data-aos-delay="200">

                        <h2>Mikus Gyula 120 - Emlékkiállítás Keszthelyen</h2>

                        <p class="fst-italic">2025. október 17 - november 23.</p>

                        <p>Szabadtéri kiállítással ünnepeljük Mikus Gyula születésének 120. évfordulóját.</p>

                        <p>Mikus Gyula születésének 120. évfordulóját ünnepeljük – akinek emléke e több generáción átívelő kerek szám ellenére ma is elevenen él. Nemcsak a számos keszthelyi és távoli otthon falán függő képben, hanem az azokhoz kapcsolódó, öröklődő történetekben is. Ő maga mindig aktívan vett részt azoknak a közösségeknek az életében, amelyekben élt. Ez alkalommal pedig munkái is kilépnek a városi térbe: ide, ahová ő is vágyott, ahol később élt és alkotott.</p>
                    
                        <p>Ismerje meg elsők között a Balatoni Múzeum legújabb szerzeményeit!</p>

                        <p>A kiállítás megnyítóján sor került Pintér Márta: Mikus Gyula élete és festészete című kötetének bemutatójára is.</p>

                        <p>A Keszthely TV is ott volt az eseményen, az arról készült riport <a href="https://tvkeszthely.hu/news/12991-mikus-gyula-emleke-el--szazhusz-eve-szuletett-a-festo" target="_blank">itt</a> megtekinthető.</p>

                        <img src="./assets/img/news/mikus120.webp" alt="mikus120" width="100%">

                        <p class="my-4"><strong>A kiállítás kurátora:</strong> Papp Virág Liliána művészettörténész – muzeológus.</p>

                        <p class="my-4"><strong>A kiállítás helyszíne:</strong> Keszthely, Fő tér</p>

                    </div>
                </div>

            </div>

        </div>

    </section>
</main>