<main class="main">

    <div class="page-title dark-background">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <h1 class="mb-2 mb-lg-0">Mikus-emléktárlat</h1>
        </div>
    </div>

    <section id="news-item-mikus-120" class="section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col">
                    <div class="news-item-content" data-aos="fade-up" data-aos-delay="200">

                        <h2>Wagner István: Mikus-emléktárlat az Operaházban</h2>

                        <p class="fst-italic">2008. február</p>

                        <p>Egy különleges eseményre került sor a fővárosban: az Operaház vörös
                            szalonja adott otthont Mikus Gyula első önálló budapesti kiállításának. Bár a keszthelyi
                            házában már egy évtizede állandó emlékkiállítás őrzi életművét, a művész eddig még sosem
                            mutatkozhatott be önálló tárlattal a főváros közönsége előtt.
                        </p>
                        <p>A mostani kiállítás válogatást kínált Mikus Gyula festményeiből, betekintést nyújtva hosszú
                            és sokoldalú pályafutásába.
                        </p>
                        <p>A látogatók kizárólag olajképeket és vizes technikával – akvarellel, temperával – készült
                            műveket láthattak, noha a művész életében a szobrászat is fontos szerepet játszott: alkotott
                            agyagból, kőből és fából egyaránt. Az Operaház elegáns vörös szalonjában megrendezett tárlat
                            február 10-éig volt megtekinthető, és méltó főhajtásként szolgált egy sokoldalú, mégis
                            méltatlanul kevéssé ismert alkotó munkássága előtt.</p>

                    </div>
                </div>

            </div>

        </div>

    </section>
</main>