<main class="main">

    <section id="portfolio" class="portfolio section light-background">


        <div class="container section-title" data-aos="fade-up">
            <h2>Művészek Szabad Alkotóközössége - MŰSZAK</h2>
            <p>Mint minden évben, úgy az idén is keresett az alkotói közösség egy fontos témát, amire szeretnék a
                figyelmet ráirányítani. 2024-ban a szabad önkifejezés igénye kapta a művészeti piknik irányvonalát.

            </p>
            <p>"Itt abszolút szabad emberek vannak, mert a 90%-a főiskolát végzett, de egyik sem csak a művészetéből tud
                megélni. Az az ember, aki a munka mellett harcol a szabadságért és a művészetért: az a szabad ember és
                az tudja megcsinálni a szabadságát a művészetben amit, ő elképzel. Nincsenek elvárások, nincsenek
                kötelezettségek."- MONDTA A MŰSZAK alapítója, Takács Ferdinánd.</p>
            <p>
                Ahhoz, hogy őszintén alkothassanak, mindig szabadnak kell maradni - vallják a MŰSZAK művészei. Mert
                bármilyen szín, textúra és kompozíció, születik, a művész mindig saját belső világát hozza létre a
                vásznon."A legfontosabb dolog, de nem csak a magam nevében, hanem azt hiszem, hogy minden
                alkotószellemiségű emberről elmondható az, hogy a legfontosabb, mert amíg a szabadság jelen van,addig
                önmagamat adhatom, de amint ez külső vagy belső tényező hatására átalakul,akkor az már nem én vagyok. "-
                mondta el Takács-Szencz Lívia képzőműmész.</p>
            <p>
                A közösségben alkotás örömét, sikerélményét többen is átélhették már a cserszegtomaji művészeti
                találkozón. Szívesen térnek vissza a nem hétköznapi, családias légkörbe. Az 1999 óta Magyarországon élő
                Basilides Bálint, festő, irodalmár is minden évben részt vesz a MŰSZAK programján."/Van ez a
                tapasztalatcsere, ami nagyon segít, hát… meg a motiváció az szokott dolog, hogy sok motiváció van abban,
                hogy barátoknak mutatjuk, hogy mit csináltunk. Elhunyt a feleségem, úgyhogy egy évig nem is festettem, s
                most akkor jött a motiváció, hogy kell készülni a MŰSZAK-ra és újra elkezdtem festeni, tehát hasznos."-
                nyilatkozott Basilides Bálint.
            </p>
        </div>

        <div class="container">

            <p>Kis ízelítő a művészek alkotásaiból.</p>
            <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
   
                <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-tajkep">
                        <div class="portfolio-content h-100">
                            <img src="assets/img/galeria/Tajkepek/1928Zalaszanto.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Zalaszántó 1928</h4>
                                <p>Lorem ipsum, dolor sit amet consectetur</p>
                                <a href="assets/img/galeria/Tajkepek/1928Zalaszanto.jpg" title="Zalaszántó 1928"
                                    data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i
                                        class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="More Details" class="details-link"><i
                                        class="bi bi-link-45deg"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-eletkep">
                        <div class="portfolio-content h-100">
                            <img src="./assets/img/geleria/Eletkepek/1940Delelo.jpg" class="img-fluid"
                                alt="Delelő 1940">
                            <div class="portfolio-info">
                                <h4>Delelő 1940</h4>
                                <p>Lorem ipsum, dolor sit amet consectetur</p>
                                <a href="./assets/img/galeria/Eletkepek/1940Delelo.jpg" title="Delelő 1940"
                                    data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i
                                        class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="More Details" class="details-link"><i
                                        class="bi bi-link-45deg"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-csendelet">
                        <div class="portfolio-content h-100">
                            <img src="./assets/img/galeria/Csendeletek/1943csendelet.jpg" class="img-fluid"
                                alt="Csendélet 1943">
                            <div class="portfolio-info">
                                <h4>Csendélet 1943</h4>
                                <p>Lorem ipsum, dolor sit amet consectetur</p>
                                <a href="./assets/img/galeria/Csendeletek/1943csendelet.jpg" title="Csendélet 1943"
                                    data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i
                                        class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="More Details" class="details-link"><i
                                        class="bi bi-link-45deg"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-akt">
                        <div class="portfolio-content h-100">
                            <img src="assets/img/galeria/Aktok/1975fekvoakt.jpg" class="img-fluid" alt="Fekvő akt 1975">
                            <div class="portfolio-info">
                                <h4>Fekvő akt 1975</h4>
                                <p>Lorem ipsum, dolor sit amet consectetur</p>
                                <a href="assets/img/galeria/Aktok/1975fekvoakt.jpg" title="Fekvő akt 1975"
                                    data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i
                                        class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="More Details" class="details-link"><i
                                        class="bi bi-link-45deg"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-tajkep">
                        <div class="portfolio-content h-100">
                            <img src="assets/img/galeria/Tajkepek/1981beceitaj.jpg" class="img-fluid"
                                alt="Becei táj 1981">
                            <div class="portfolio-info">
                                <h4>Becei táj 1981</h4>
                                <p>Lorem ipsum, dolor sit amet consectetur</p>
                                <a href="assets/img/galeria/Tajkepek/1981beceitaj.jpg" title="Becei táj 1981"
                                    data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i
                                        class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="More Details" class="details-link"><i
                                        class="bi bi-link-45deg"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-eletkep">
                        <div class="portfolio-content h-100">
                            <img src="assets/img/galeria/Eletkepek/1964halaszok.jpg" class="img-fluid"
                                alt="Halászok 1964">
                            <div class="portfolio-info">
                                <h4>Halászok 1964</h4>
                                <p>Lorem ipsum, dolor sit amet consectetur</p>
                                <a href="assets/img/galeria/Eletkepek/1964halaszok.jpg" title="Halászok 1964"
                                    data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i
                                        class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="More Details" class="details-link"><i
                                        class="bi bi-link-45deg"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-csendelet">
                        <div class="portfolio-content h-100">
                            <img src="assets/img/galeria/Csendeletek/Vadviragok.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Vadvirágok</h4>
                                <p>Lorem ipsum, dolor sit amet consectetur</p>
                                <a href="assets/img/galeria/Csendeletek/Vadviragok.jpg" title="Vadvirágok"
                                    data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i
                                        class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="More Details" class="details-link"><i
                                        class="bi bi-link-45deg"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-portre">
                        <div class="portfolio-content h-100">
                            <img src="assets/img/galeria/Portrek/1927Apam.jpg" class="img-fluid" alt="Apám 1927">
                            <div class="portfolio-info">
                                <h4>Apám 1927</h4>
                                <p>Lorem ipsum, dolor sit amet consectetur</p>
                                <a href="assets/img/galeria/Portrek/1927Apam.jpg" title="Apám 1927"
                                    data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i
                                        class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="More Details" class="details-link"><i
                                        class="bi bi-link-45deg"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-tajkep">
                        <div class="portfolio-content h-100">
                            <img src="assets/img/galeria/Tajkepek/1960szigligetitel.jpg" class="img-fluid"
                                alt="Szigliget 1960">
                            <div class="portfolio-info">
                                <h4>Szigliget 1960</h4>
                                <p>Lorem ipsum, dolor sit amet consectetur</p>
                                <a href="assets/img/galeria/Tajkepek/1960szigligetitel.jpg" title="Szigliget 1960"
                                    data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i
                                        class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="More Details" class="details-link"><i
                                        class="bi bi-link-45deg"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-eletkep">
                        <div class="portfolio-content h-100">
                            <img src="assets/img/galeria/Eletkepek/1978halasztragedia.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Halásztragédia 1978</h4>
                                <p>Lorem ipsum, dolor sit amet consectetur</p>
                                <a href="assets/img/galeria/Eletkepek/1978halasztragedia.jpg"
                                    title="Halásztragédia 1978" data-gallery="portfolio-gallery-product"
                                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="More Details" class="details-link"><i
                                        class="bi bi-link-45deg"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-csendelet">
                        <div class="portfolio-content h-100">
                            <img src="assets/img/galeria/Csendeletek/krizantem.jpg" class="img-fluid" alt="Krizantém">
                            <div class="portfolio-info">
                                <h4>Krizantém</h4>
                                <p>Lorem ipsum, dolor sit amet consectetur</p>
                                <a href="assets/img/galeria/Csendeletek/krizantem.jpg" title="Krizantém"
                                    data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i
                                        class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="More Details" class="details-link"><i
                                        class="bi bi-link-45deg"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-portre">
                        <div class="portfolio-content h-100">
                            <img src="assets/img/galeria/Portrek/1938Anyam.jpg" class="img-fluid" alt="Anyám 1938">
                            <div class="portfolio-info">
                                <h4>Anyám 1938</h4>
                                <p>Lorem ipsum, dolor sit amet consectetur</p>
                                <a href="assets/img/galeria/Portrek/1938Anyam.jpg" title="Anyám 1938"
                                    data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i
                                        class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="More Details" class="details-link"><i
                                        class="bi bi-link-45deg"></i></a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </section>


</main>